@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  position: relative;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.calculator {
  display: flex;
  flex-wrap: wrap;
  margin: 70px auto;
  background: black;
  width: 290px;
  height: 570px;
  border-radius: 25px;
  padding: 15px;
  color: white;
  position: relative;
}

.top-container {
  font-size: small;
  font-weight: 800;
  display: flex;
  height: 100px;
}

.top-container img {
  width: 70px;
  height: auto;
  margin-left: 160px;
}

.value {
  font-size: 70px;
  font-weight: 100;
  height: 250px;
  padding-top: 150px;
  width: 100%;
  text-align: right;
  margin-top: -160px;
  padding-right: 10px;
}

.buttons-container {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-bottom: 20px;
}

.button {
  height: 57px;
  width: 57px;
  font-size: 25px;
  border-radius: 50%;
  background: #333;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  transition: filter 0.2s;
}

.button.function {
  color: black;
  background-color: #a3a3a3;
}

.button.operator {
  background: #f1a33c;
}

.button.number-0 {
  width: 125px;
  border-radius: 55px;
  justify-content: flex-start;
  padding-left: 23px;
  grid-column: 1 / span 2;
}

.button:active,
.button:focus {
  filter: brightness(140%);
}

.bottom {
  width: 100px;
  height: 3px;
  background: white;
  border-radius: 10px;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
}
